@charset "UTF-8";
@import url(https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css);
@import url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css);
/* 공통 */
body {
  font-family: "Pretendard", sans-serif;
  background-color: white;
  letter-spacing: -0.01em;
  word-break: keep-all;
}

a {
  color: black;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  letter-spacing: -0.01em;
}

/* 헤더 */
header {
  position: relative;
  z-index: 100;
  background-color: white;
  display: flex;
  justify-content: center;
  height: 84px;
  width: 100%;
}
header .header_wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  max-width: 1800px;
  padding-top: 26px;
}
header .header_wrap .icon_box {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
}
header .header_wrap .icon_box #search_bar {
  padding: 4px 22px;
  padding-right: 10px;
  background-color: #eeeeee;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  position: absolute;
  left: -322px;
  box-sizing: border-box;
  transition: 0.3s;
}
header .header_wrap .icon_box #search_bar input {
  background-color: transparent;
  border: none;
}
header .header_wrap .icon_box #search_bar #search_text {
  font-size: 16px;
  font-weight: 500;
  outline: none;
}
header .header_wrap .icon_box #search_bar #search_btn {
  width: 30px;
  height: 30px;
  font-size: 0;
  background-image: url(../img/main/icon/search.png);
  cursor: pointer;
}
header .header_wrap .icon_box #search_bar .popup {
  display: none;
  width: 350px;
  min-height: 50px;
  border-radius: 6px;
  position: absolute;
  background-color: rgb(255, 255, 255);
  top: 50px;
  right: 0;
  box-sizing: border-box;
  padding: 20px;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.2));
}
header .header_wrap .icon_box #search_bar .popup h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}
header .header_wrap .icon_box #search_bar .popup .list {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
header .header_wrap .icon_box #search_bar .popup .list a {
  font-size: 14px;
  font-weight: 600;
  color: #666666;
  border: 1px solid #cccccc;
  padding: 8px 18px;
  border-radius: 30px;
  display: block;
  margin-bottom: 10px;
  background-color: white;
  transition: 0.3s;
}
header .header_wrap .icon_box #search_bar .popup .list a:hover {
  background-color: #eeeeee;
}
header .header_wrap .icon_box #search_bar .popup.on {
  display: block;
}
header .header_wrap .icon_box #search_bar:hover {
  background-color: #e5e5e5;
}
header .header_wrap .icon_box .menu {
  position: relative;
}
header .header_wrap .icon_box .menu img {
  position: relative;
  z-index: 1;
}
header .header_wrap .icon_box .menu .bg {
  position: absolute;
  width: 32px;
  height: 32px;
  padding: 4px;
  border-radius: 100%;
  background-color: white;
  transition: 0.3s;
  top: -4px;
  left: -4px;
}
header .header_wrap .icon_box .menu:hover .bg {
  background-color: #eeeeee;
}
header .header_wrap > .list {
  display: flex;
  font-size: 18px;
  -moz-column-gap: 60px;
       column-gap: 60px;
  font-weight: 500;
  margin-top: 8px;
}
header .header_wrap > .list a {
  font-size: 18px;
  font-weight: 500;
  padding: 4px 10px;
  border-radius: 20px;
  background-color: #ffffff;
  transition: 0.3s;
}
header .header_wrap > .list a:hover {
  background-color: #eeeeee;
}

footer {
  min-height: 80px;
  background-color: #424242;
  display: flex;
  align-items: center;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  color: white;
}
footer .container .copyright {
  font-size: 14px;
  font-weight: 300;
  opacity: 0.8;
}
footer .container .sns_box {
  display: flex;
  -moz-column-gap: 14px;
       column-gap: 14px;
}
footer .container .sns_box a {
  transition: 0.3s;
}
footer .container .sns_box a:hover {
  filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.7));
}

@media screen and (max-width: 1500px) {
  #search_bar {
    display: none !important;
  }
}
@media screen and (max-width: 1024px) {
  header .list {
    display: none !important;
  }
}
@media screen and (max-width: 628px) {
  header .list {
    display: none !important;
  }
  footer .container {
    flex-direction: column;
    gap: 30px;
    padding: 40px 20px;
  }
}/*# sourceMappingURL=common.css.map */