@charset "utf-8";
@import url(https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css);
@import url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css);

/* 공통 */

body {
  font-family: "Pretendard", sans-serif;
  background-color: white;
  letter-spacing: -0.01em;
  word-break: keep-all;
}
a {
  color: black;
  text-decoration: none;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  letter-spacing: -0.01em;
  color: black;
}
main {
  padding-top: 84px;
}

/* 헤더 */

header {
  position: fixed;
  z-index: 200;
  background-color: white;
  display: flex;
  justify-content: center;
  height: 84px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  .header_wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    max-width: 1800px;
    padding-top: 26px;

    .icon_box {
      display: flex;
      align-items: center;
      gap: 20px;
      position: relative;
      height: fit-content;
      .menu {
        position: relative;
        img {
          position: relative;
          z-index: 1;
        }
        .bg {
          position: absolute;
          width: 32px;
          height: 32px;
          padding: 4px;
          border-radius: 100%;
          background-color: white;
          transition: 0.3s;
          top: -4px;
          left: -4px;
        }
      }
      .menu.mobile {
        display: none;
      }
      .menu:hover {
        .bg {
          background-color: #eeeeee;
        }
      }
    }
  }
  .header_wrap > .list {
    display: flex;
    font-size: 18px;
    column-gap: 60px;
    font-weight: 500;
    margin-top: 8px;
    a {
      font-size: 18px;
      font-weight: 500;
      padding: 4px 10px;
      border-radius: 20px;
      background-color: #ffffff;
      transition: 0.3s;
    }
    a:hover {
      background-color: #eeeeee;
    }
  }
}
#search_bar {
  padding: 4px 22px;
  padding-right: 10px;
  background-color: #eeeeee;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  position: absolute;
  left: -322px;
  box-sizing: border-box;
  transition: 0.3s;
  input {
    background-color: transparent;
    border: none;
  }
  #search_text {
    font-size: 16px;
    font-weight: 500;
    outline: none;
  }
  #search_btn {
    width: 30px;
    height: 30px;
    font-size: 0;
    background-image: url(../img/main/icon/search.png);
    cursor: pointer;
  }
  .popup {
    display: none;
    width: 350px;
    min-height: 50px;
    border-radius: 6px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 50px;
    right: 0;
    box-sizing: border-box;
    padding: 20px;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.2));
    h3 {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 20px;
    }
    .list {
      display: flex;
      flex-wrap: wrap;
      column-gap: 10px;
      a {
        font-size: 14px;
        font-weight: 600;
        color: #666666;
        border: 1px solid #cccccc;
        padding: 8px 18px;
        border-radius: 30px;
        display: block;
        margin-bottom: 10px;
        background-color: white;
        transition: 0.3s;
      }
      a:hover {
        background-color: #eeeeee;
      }
    }
  }
  .popup.on {
    display: block;
  }
}
#search_bar:hover {
  background-color: #e5e5e5;
}

// 모바일 메뉴

.mobile_menu {
  width: 100vw;
  height: 100vh;
  position: absolute;
  transform: translateX(100%);
  z-index: 1;
  .container {
    position: relative;
    z-index: 300;
    background-color: white;
    width: 100%;
    height: 100%;
    max-width: 500px;
    float: right;
    transform: translateX(100%);
    transition: 0.5s;
    .top {
      background-color: #424242;
      height: 76px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      box-sizing: border-box;
    }
    .search {
      padding: 0 20px;
      box-sizing: border-box;
    }
    .list {
      .tab {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-size: 18px;
        font-weight: 600;
        border-bottom: 1px solid #eeeeee;
        padding: 22px 20px;
        box-sizing: border-box;
      }
    }
  }
  .black {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: 0.5s;
  }
}
.mobile_menu.on {
  transform: translateX(0%);
}
#search_bar.mobile {
  position: relative;
  left: 0;
  width: 100%;
  margin: 34px 0;
}

// 푸터

footer {
  min-height: 80px;
  background-color: #424242;
  display: flex;
  align-items: center;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    color: white;
    .copyright {
      font-size: 14px;
      font-weight: 300;
      opacity: 0.8;
    }
    .sns_box {
      display: flex;
      column-gap: 14px;
      a {
        transition: 0.3s;
      }
      a:hover {
        filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.7));
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  #search_bar.web {
    display: none !important;
  }
  header .icon_box .menu.web {
    display: none;
  }
  header .icon_box .menu.mobile {
    display: block !important;
  }
}

@media screen and (max-width: 1024px) {
  header {
    height: 76px !important;
    .header_wrap {
      padding-top: 22px !important;
      .list {
        display: none !important;
      }
    }
  }
  main {
    padding-top: 76px !important;
  }
}

@media screen and (max-width: 628px) {
  footer {
    .container {
      flex-direction: column;
      gap: 30px;
      padding: 40px 20px;
    }
  }
}
